/node_modules
/public/hot
/public/css/*
/public/js/app.js
/public/js/adminApp.js
/public/js/systemApp.js
/public/storage
/storage/fonts/*
/saved_data_test/*
/script_test/python_script/__pycache__/*
/public/pdfs/invoices/*
/public/pdf_file/invoices/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
